html
{
	filter: invert(.95) hue-rotate(180deg);

	text-align: justify;
	text-justify: inter-word;
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
}

*[style*=background-image],
.mwe-math-element,
img
{
	filter: invert(1) hue-rotate(180deg);
}


/**:has(:is(img[url$=gif], img[src$=gif])),*/
/**:is(img[url$=gif], img[src$=gif]),*/
/**[src~=gif],*[url~=gif]*/
img[url$=gif],
img[src$=gif]
{
  display: none;
}

*
{
	background-image: none !important;
}